body {
    background-color: #121212;
    color: #e0e0e0;
  }

  /*For Navbar*/
  .navbar {
    background-color: #1c1c1c;
  }
  .navbar-nav .nav-link {
    font-weight: bold;
  }

  /*Image up top*/
  .header-image {
    position: relative;
    color: white;
    text-align: center;
  }
  .header-image img {
    width: 100%;
    height: 500px;
    opacity: 0.7;
  }

  /*Text On BIG image*/
  .header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 900%;
    -webkit-text-stroke: #121212;
    -webkit-text-stroke-width: 1px;
  }

  /*Padding for general Sections*/
  .content-section {
    padding: 20px;
  }
  .content-section .row {
    margin-bottom: 20px;
  }
  .content-section img {
    max-width: 100%;
    height: auto;
    border: 1px solid #e0e0e0;
  }

  /*For Carousel*/

  .carousel-item {
    height: 600px;
  }
  .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  /*White Line*/
  .divider {
    border-top: 1px solid #fff;
    margin: 20px 0;
  }

  .depthText{
    font-size: 25px;
  }

  p,li,h1,h2,h3,div{
    font-family: monospace;
  }

  .content-box {
    border: 2px solid;
    border-color: white;
    height: 400px;
    width: 100%;
    display:fill;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: border-color 0.3s;
  }

  .content-box:hover {
    border-color: orange;
  }
  .content-box img {
    max-height: 100%;
    max-width: 100%;
  }



  .text-section {
    margin-top: 20px;
  }

  footer {
    background-color: #222;
    color: #aaa;
    padding: 10px 0;
    text-align: center;
    width: 100%;
  }
  .wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .content {
    flex: 1;
  }

  .audio-player {
    padding: 10px;
}

.text-primary{
  text-decoration: underline;
}